<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <remap from="/usb_cam/image_raw" to="lane_mapping/image" />
  </node>

  <node name="lane_seg" pkg="lane_mapping" type="hybridnets.py" />
  <node name="depth_estimation" pkg="lane_mapping" type="glpdepth.py" />

  <node name="blur" pkg="lane_mapping" type="blur.py" />

  <node name="ipm" pkg="lane_mapping" type="ipm.py" />

  <node name="cluster" pkg="lane_mapping" type="cluster_lanes.py" />
  <node name="broadcast" pkg="lane_mapping" type="broadcast.py" />
</launch>
